<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/layout}">
<head>
    <title>update user</title>
</head>
<body>
<div layout:fragment="content">
    <h3>update page</h3>
<!--    <form class="ui large form" method="post" th:object="${permission}" th:action="@{/admin/permissions/saveUpdate}">-->
<!--    or you can use this way :-->
    <form class="ui large form" method="post" th:action="@{/admin/users/saveUpdate}">
        <input type="hidden" name="userId" th:value="${user.userId}">
        <input type="text" name="account" placeholder="account">
        <input type="text" name="lastName" placeholder="lastName">
        <input type="text" name="firstName" placeholder="firstName">
        <input type="password" name="password" placeholder="password">
        <div th:class="collapsed">
            <input type="hidden" name="role" value="">
            <ul th:each="role: ${roles}">
                <li>
                    <input type="checkbox" name="roles" th:value="${role.roleId}" th:text="${role.name}">
                </li>
            </ul>
        </div>
        <button type="submit" class="addButton">saveUpdate</button>
    </form>
<!--    ##########################-->
<!--    <form class="ui large form" method="post" th:action="@{/admin/roles/saveUpdate}">-->
<!--        <input type="hidden" name="roleId" th:value="${role.roleId}">-->
<!--        <input type="text" name="name" placeholder="name">-->
<!--        <div th:class="collapsed">-->
<!--            <input type="hidden" name="permission" value="">-->
<!--            <ul th:each="permission: ${permissions}">-->
<!--                <li>-->
<!--                    <input type="checkbox" name="permissions" th:value="${permission.permissionId}" th:text="${permission.name}">-->
<!--                </li>-->
<!--            </ul>-->
<!--        </div>-->
<!--        <button type="submit" class="addButton">saveUpdate</button>-->
<!--    </form>-->
</div>
</body>
</html>
